hr {
  margin: 0;
}

.footer {
  padding: 1em;
  background-color: var(--white);
}

.list-footer {
  display: none;
}

@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-around;
  }

  .footer__title {
    font-size: 24px;
  }

  .list-footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .list-footer__title {
    color: var(--grey-light);
    font-size: 14px;
  }

  .list-footer__item {
    display: flex;
    align-items: center;
    gap: .75em;
  }

  .list-footer__link {
    color: var(--grey-dark);
    text-decoration: none;
  }

  .list-footer__link:hover {
    color: var(--orange);
    text-decoration: underline;
  }
}

@media screen and (min-width: 1728px) {
  .list-footer {
    border-left: 1px solid var(--grey-light);
    padding-left: 1.5em;
  }

  .footer {
    padding: 3em 0;
  }
}